/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 @font-face {
  font-family: "Pokemon";
  src: url('./Pokemon Solid.ttf');
 }

 button {
   cursor: pointer;
 }


/* nav bar css */

#navBarMessage {
  display: inline-block;
  padding: 10px;
  color: white;
  line-height: 55px;
  background-color: #ff3333;
  font-family: "Fredoka One";
  text-shadow: -.8px 0 black, 0 .8px black, .8px 0 black, 0 -.8px black;
}

#navBarButton {
  padding: 10px;
  color: white;
  z-index: 102;
  font-family: "Fredoka One";
  transition: background-color .7s;
  text-shadow: -.8px 0 black, 0 .8px black, .8px 0 black, 0 -.8px black;
}

#navBarButton:hover {
  background-color: lightblue;
  transition: 0.15s;
  cursor: pointer;
  z-index: 102;
}

 #navBarDiv {
   border-bottom: solid 2px white;
   width: 100%;
   background-color: #ff3333;
   z-index: 100;
   position: fixed;
   height: 75px;

 }

#pokeCupidHeader {
  display: inline-block;
  font-size: 40px;
  text-align: center;
  position: relative;
  font-family: Pokemon;
  color: gold;
  letter-spacing: .05em;
  z-index: 100;
  height: 75px;
  width: 250px;
  top: -70px;
  margin-left: 40.5%;
  line-height: 75px;
  text-shadow: -1.5px 0 blue, 0 1.5px blue, 1.5px 0 blue, 0 -1.5px blue;
}
/* end navBar stuff */

#nonNavStuff {
  display: inline-block;
  position: relative;
  top: 79px;
  width: 100%;
}

/* sign in / sign up forms */

#slogan {
  text-align: center;
  width: 100%;
  font-family: "Fredoka One";
  font-size: 40px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#pref_form {
  display: inline-block;
  width: 100%;
  margin: auto;
}

#type_buttons button {
  cursor: pointer;
  font-family: serif;
  font-size: 15px;
  padding: 5px;
  margin: 1px;
  display: inline-block;
  width: 70px;
  text-align: center;
  font-family: "Fredoka One";
  border: 1px solid #001a33;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  text-shadow: -.8px 0 black, 0 .8px black, .8px 0 black, 0 -.8px black;
}

#type_buttons button:hover {
  color: lightgreen;
}

#type_buttons {
  position: relative;
  display: block;
  width: 510px;
  margin: auto;
  top: 1px;
}

#signUp_confirm {
  display: block;
  font-size: 28px;
  font-family: "Fredoka One";
  width: auto;
  margin: auto;
  padding: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: lightgreen;
  color: white;
  text-shadow: -.8px 0 black, 0 .8px black, .8px 0 black, 0 -.8px black;
  border: 1px solid black;
  transition: 1.5s;
}

#signUp_confirm:hover {
  background-color: lightblue;
  transition: 0.1s;
  cursor: pointer;
}

.button_Normal {
  background-color: #aaa7a2;
  color: white;
}

.button_Fighting {
  background-color: #bf4040;
  color: white;
}

.button_Flying {
  background-color: #9cadf7;
  color: white;
}

.button_Poison {
  background-color: #d65cad;
  color: white;
}

.button_Ground {
  background-color: #ffcc99;
  color: white;
}

.button_Rock {
  background-color: #cc8800;
  color: white;
}

.button_Bug {
  background-color: #ace600;
  color: white;
}

.button_Ghost {
  background-color: #884dff;
  color: white;
}

.button_Steel {
  background-color: #d0d0e1;
  color: white;
}

.button_Fire {
  background-color: #ff471a;
  color: white;
}

.button_Water {
  background-color: #1a8cff;
  color: white;
}

.button_Grass {
  background-color: #39e600;
  color: white;
}

.button_Electric {
  background-color: #ffd11a;
  color: white;
}

.button_Psychic {
  background-color: #ff6699;
  color: white;
}

.button_Ice {
  background-color: #99ffff;
  color: white;
}

.button_Dragon {
  background-color: #7966ce;
  color: white;
}

.button_Dark {
  background-color: #654f42;
  color: white;
}

.button_Fairy {
  background-color: #f7b5f7;
  color: white;
}

 .button_true {
   background-color: white;
   color: lightgreen;
 }

 #seeking {
   position: relative;
   left: 30px;
   text-align: center;
   font-family: "Fredoka One";
   font-size: 20px;
   color: white;
   text-shadow: -.8px 0 black, 0 .8px black, .8px 0 black, 0 -.8px black;
 }

 #seaking {
   height: 100px;
   width: 100px;
 }

 #i_am {
   position: relative;
   left: -25px;
   top: -20px;
 }

 #seekingText {
   position: relative;
   top: -20px;
   left: 5px;
 }

 #someone {
   position: relative;
   left: -25px;
 }

.prefErrors {
  position: relative;
  text-align: center;
  font-family: "Fredoka One";
  font-size: 16px;
  color: white;
  text-shadow: -.8px 0 black, 0 .8px black, .8px 0 black, 0 -.8px black;
}

/* user sign up form */

.userInfoForm {
  padding: 5px;
  text-align: center;
  font-family: "Fredoka One";
  font-size: 16px;
  color: white;
  text-shadow: -.8px 0 black, 0 .8px black, .8px 0 black, 0 -.8px black;
}

.userInfoForm input {
  max-width: 150px;
  background-color: white;
  text-align: left;
  color: black;
  font-family: 'Signika';
  margin: 5px;
  padding: 1px;
  padding-left: 5px;
  border: 1px solid black;
  text-shadow: none, none, none, none;
}

#email {
  position: relative;
  left: 17px;
}

#password {
  position: relative;
  left: 1px;
}

#birthday {
  position: relative;
  left: -4px;
}

#month {
  width: 33px;
}

#day {
  position: relative;
  left: 6px;
  width: 28px;
}

#year {
  position: relative;
  left: 12px;
  width: 39px;
}

#noTypeErrors {
  visibility: hidden;
}

.userErrors {
  position: relative;
  padding: 5px;
  padding-left: 25px;
  top: -540px;
  left: 50px;
  width: 240px;
  background-color: white;
  border: 1px solid black;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-family: 'Signika';
}

#totodile {
  position: relative;
  left: 320px;
  top: -355px;
  height: 130px;
  width: 130px;
}

#noUserErrors {
  visibility: hidden;
}

/* account form */

.account {
  position: relative;
  top: 10px;
}

.lower {
  position: relative;
  top: 250px;
}

/* home */

/* profile */

#profileDiv {
  height: auto;
  padding: 30px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 880px;
  background-color: #F3F5F9;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#profilePic {
  display: inline-block;
}

#current_user_info {
  display: inline-block;
  position: relative;
  padding: 10px;
  margin-left: 10px;
  height: auto;
  top: -70px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-family: 'Signika';
}

#profileName {
  font-size: 30px;
}

#current_user_info:hover {
  background-color: white;
  cursor: pointer;
}

#profileNav {
  list-style: none;
  border-bottom: 1px solid lightgrey;
  clear: both;
}

.listy {
  display: inline-block;;
  font-family: 'Signika';
  font-size: 20px;
  float: left;
  padding: 5px;
  margin-right: 10px;
}

.listy:hover {
  color: red;
  cursor: pointer;
}

#profileNav:after {
  content: "";
  display:block;
  clear:both;
}

.selected {
  color: red;
  padding-bottom: 3px;
  border-bottom: 2px solid red;
}

.selected:hover {
  cursor: default;
}

/* about */

.pencil {
  position: relative;
  top: 2px;
  height: 15px;
  width: 15px;
  color: blue;
}

/* left about */
#aboutLeft {
  float: left;
  width: 525px;
}

#aboutRight {
  float: right;
  width: 325px;
}

#aboutDiv:after {
  content: "";
  display: block;
  clear:both;
}

.aboutDetailToggle {
  display: inline-block;
  margin-left: 10px;
}

.aboutDetailHeader {
  display: inline-block;
  font-size: 20px;
  font-family: 'Signika';
  font-weight: bold;
}

.aboutDetailDiv {
  margin-top: 40px;
}

.displayText {
  font-family: 'Signika';
  font-size: 16px;
  margin-top: 5px;
  font-weight: normal;
}

.placeholder {
  font-style: italic;
  font-size: 15px;
  color: #bfbfbf;
}

.aboutTextArea {
  resize: none;
  font-family: 'Signika';
  border: 1px solid pink;
  padding: 8px;
  width: 500px;
  height: 90px;
  background-color: white;
  margin-top: 8px;
  margin-bottom: 5px;
  border-radius: 2px;
}

.aboutTextConfirm {
  padding: 10px 40px;
  background-color: #ff3333;
  color: white;
  border-radius: 2px;
  font-family: 'Signika';
}

.aboutTextCancel {
  padding: 10px 39px;
  margin-left: 10px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  font-family: 'Signika';
}

.hidePls {
  visibility: hidden;
}

/* right about */

/* lookingFor */
#lookingForDiv {
  border-radius: 5px;
  padding: 12px;
  margin-top: 28px;
}

#lookingForDiv:hover {
  background-color: white;
}

#lookingForHeader {
  display: block;
  font-size: 20px;
  font-family: 'Signika';
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

#LFSpan {
  position: relative;
  left: 6px;
}

#lookingForList {
  margin: 15px;
  margin-bottom: 0px;
  font-family: 'Signika';
}

.lookingForTypes {
  margin-left: 15px;
}

/* myDetails */

#myDetailDiv {
  border-radius: 5px;
  padding: 12px;
  margin-top: 28px;
}

#myDetailDiv:hover {
  background-color: white;
  cursor: pointer;
}

#myDetailHeader {
  display: block;
  font-size: 20px;
  font-family: 'Signika';
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.myDetailText {
  display: block;
  font-family: 'Signika';
  font-size: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid lightgrey;
}

.detailKey {
  display: inline-block;
  color: #bfbfbf;
  width: 140px;
}

/* myDetailModal */

#myDetailModalHeader {
  border-bottom: 1px solid lightgrey;
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#modalHeader {
  display: inline-block;
  font-family: 'Signika';
  font-size: 20px;
  width: 583px;
}

#myDetailInnerModalDiv {
  padding: 30px;
  padding-left: 30px;
  font-family: 'Signika';
  color: #4d4d4d;
}

#modalClose {
  display: inline-block;
  font-family: 'Signika';
  font-size: 30px;
  color: grey;
}

.modalQuestion {
  display: inline-block;
  width: 190px;
  margin-bottom: 30px;
  /*text-align: right;*/
}

.modalButton {
  display: inline-block;
  margin-left: 10px;
  padding: 2px 6px;
  border-radius: 2px;
  background-color: white;
  border: 1px solid grey;
}

.isValue {
  background-color: #ff8080;
  color: white;
  border: 1px solid #ff8080;



}


.ReactModal__Overlay {
  -webkit-perspective: 600;
  perspective: 600;
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transition: all 150ms ease-in;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}

body {
  background-color: #ff8080;
}
